<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafka: Topics</title>
</head>
<body>
<h1>Topics list</h1>

<table>
    <tr>
        <td>Topic ID</td>
        <td>Topic Name</td>
        <td>Internal</td>
        <td>Number of partitions</td>
        <td>Replication factor</td>
    </tr>
    <tr th:each="topic: ${topics}">
        <td th:text="${topic.topicId}">Topic ID</td>
        <td th:text="${topic.topicName}">Topic Name</td>
        <td th:text="${topic.internal}">Internal</td>
        <td th:text="${topic.numberOfPartitions}">Number of partitions</td>
        <td th:text="${topic.replicationFactor}">Replication factor</td>
    </tr>
    <p><a href="/">Back</a></p>
</table>
</body>
</html>

